:root {
	--direction: right;
	--mainColor: #111;
	--secondaryColor: #2c2c2c;
}

/*Here's it's example usage.*/
body{
	text-align: var(--direction);
}

h1 {
	color: var(--mainColor);
}

h2 {
	color: var(--secondaryColor);
}